<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xScanner iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>xScanner macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>044B23111DAC9D8800F53397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B231A1DAC9D8900F53397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B232E1DAC9D9F00F53397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B23361DAC9D9F00F53397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
